<div id="outside">
  <%= image_tag "pitstoplogo.png", :id => "frontlogo"%>
  <%= render 'form' %>
</div>
<img alt="Loadingcarmockup" id="temp" src="/images/carloadingfinal2.gif"/><br><div id="loading">Loading</div>
<script>
  $("#loading").hide();
  $("#temp").hide();
  $("#submit-front").click(function() {
    $("#outside").hide();
    $("#temp").show();
    $("#loading").show();
  });
</script>

