// Place all the styles related to the Paths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#frontlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#map-canvas{
  height: 400px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

#showinfo{
  text-align: center;
}

#form_resubmit{
  float: left;
}

#yelpwidget{
  float: right;
}

#container{
  width: 139px;
  height: 81px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="submit"]{
  background: url(/images/magicbutton.png);
  height: 81px;
  width: 139px;
  background-repeat:no-repeat;
  background-position:center; 
  border: none;

}
