// Place all the styles related to the Paths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face{
  font-family: 'Amatic-Bold';
  src: url(/fonts/Amatic-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Throw';
  src: url(/fonts/ThrowMyHandsUpintheAir.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

#frontlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#info{
  text-align: center;
  font-family: 'Amatic-Bold' !important;
  font-size: 40px;
  margin: 20px;
}

#directions{
  text-align: center;
  font-family: 'Throw' !important;
  font-size: 25px;
  margin: 10px;
}
#yelpwidgetreview{
  position: relative;
  top: -40px;
  right: 50px;

}
#yelpwidgetpic{
  margin-left: 10px;
  float: left;
}
#yelpwidgetexcerpt{
  font-family: Arial;
  font-size: 12px;
  float: right;
  width: 320px;
  top: -50px;
  position: relative;
  right: 10px;

}
#yelpwidgetname{
  font-family: 'Amatic-Bold';
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

#line1{
  top: 0px;
  display:block;
  margin-right: auto;
  margin-left: auto;
}


#initialyelpwidget{
  font-family: 'Amatic-Bold';
  font-size: 30px;
  text-align: center;
  height: 100px;
}
#yelplink{
  margin-top: 10px;
  margin-left: 30px;
  float: left;
  font-size: 20px;
}
#yelpwidget{
  float: right;
  background-color: #FBFBFB;
  width: 450px;
  height: 275px;  
  position: relative;
  border:2px solid;
  border-radius:25px;
  text-align: center;
  top: -15px;
}
#barlogo{
  display:block;
  margin-right: auto;
  margin-left: auto;

}
#container{
  height:275px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position: relative; 
}

/*RESULTS PAGE MAP*/

#bordermap{
  display:block;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  position: absolute;
}
#map-canvas{
  height: 699px;
  width: 1050px;
  position: relative;
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
  top: 27px;
}
#map-container{
  width: 1111px;
  margin-right: auto;
  margin-left: auto;
}

/*FRONT PAGE FORM*/

#path_search_term
{
	width: 300px;
	height: 20px;
	margin-bottom: 30px;
	font-family: 'Throw';
	font-size: 20px;
}

#label1
{
	position:relative;
	bottom: 10px;
}

#path_start_address
{
	width: 300px;
	height: 20px;
	margin-bottom: 30px;
	font-family: 'Throw';
	font-size: 20px;
}

#label2
{
	position:relative;
	bottom: 10px;
}

#path_end_address
{
	width: 300px;
	height: 20px;
	margin-bottom: 30px;
	font-family: 'Throw';
	font-size: 20px;
}

#label3
{
	position:relative;
	bottom: 10px;
}

#marker1
{
	position:relative;
	top:5px;
	right: 10px;
}

#marker2
{
	position:relative;
	top:5px;
	right: 10px;
}

#marker3
{
	position:relative;
	top:5px;
	right: 10px;
}

/*RESULTS PAGE FORM*/

#showbars
{
	width: 400px;
	height: 20px;
	margin-bottom: 10px; 
 	margin-top: 10px;
 	/*position:relative;
 	left: 10px;	*/
 	float: right;
}

#form_resubmit{
  float: left;
  width: 500px;
  height: 250px;
}

#showquery
{
	position:relative;
	top: 10px;
}

#showstart
{
	position:relative;
	top: 27px;
}

#showend
{
	position:relative;
	top: 43px;
}

input[type="submit"]{
  background: url(/images/magicbutton.png);
  height: 81px;
  width: 139px;
  background-repeat:no-repeat;
  background-position:center; 
  border: none;
}

/*TOP BAR LOGO*/
#topbar
{
	left: 0;
	top: 0;
	right: 0;
	height: 60px;
	position: fixed;
	z-index: 670;
	background-color: #F8F8F8;
	box-shadow: 0px 1px 1px #888888;
}

#barlogo
{
	padding-top: 3px;
}
