// Place all the styles related to the Paths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face
{
  font-family: ;
  src: url();
}

#frontlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



#showinfo{
  text-align: center;
}

#form_resubmit{
  float: left;
}

#yelpwidget{
  float: right;
  background-color: red;
  width: 50px;
  height: 50px;
}

#container{
  height: 200px;
  width: 800px;
  background-color: blue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative; 
}
#bordermap{
  display:block;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  position: absolute;
}
#map-canvas{
  height: 699px;
  width: 1050px;
  position: relative;
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
  top: 27px;
}
#map-container{
  width: 1111px;
  margin-right: auto;
  margin-left: auto;
}
input[type="submit"]{
  background: url(/images/magicbutton.png);
  height: 81px;
  width: 139px;
  background-repeat:no-repeat;
  background-position:center; 
  border: none;

}
